{% extends 'base.html.twig' %}

{% block title %}
    {{ titre_page }}
{% endblock %}

{% block body %}
    <h1>{{ titre_section }}</h1>
    {% for stagiaire in stagiaires %}
        <h3>{{ stagiaire.id }} - {{ stagiaire.prenom }}</h3>
    {% endfor %}
{% endblock %}
